.add-files {
    color: #3f3f3f;
}

.mat-card :hover {
    transform: scale(1.03);
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .container{
    max-width: 95%;
    margin: 0 auto;
  }